body {
    text-align: center;
    background: lightblue;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url(../img/background.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.main-header {
    width: 100%;
    position: relative;
}

.site-logo {
    position: absolute;
    left: 5vw;
    bottom: 0;
    opacity: 0.65;
    transition: 1s
}

.site-logo:hover {
    opacity: 1;
}

.site-logo img {
    max-height: 4em;
}





h1 {
    font-family: 'Berkshire Swash', cursive;
    color: white;
    font-size: 3em;
    margin: 0.5em 0 0;
}



/* CONTROL PANEL SECTION */

.control-panel {
    width: 500px;
    height: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.5em auto;
    padding: 1em 0;
    background: linear-gradient(-5deg, rgba(2, 201, 185, 0.6), rgb(49, 179, 190, 0.6));
    border-radius: 40px;
    font-family: 'Maven Pro', sans-serif;
    color: white;
}

.current-rate {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.star-rating {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.star-rating li {
    margin: 0 0.25em;
    color: gold;
}

.star-rating,
.counter {
    width: calc(100% / 3);
    padding: 0;
    margin: 0;
}

.counter span {
    display: inline-block;
    width: 100%;
}

.counter span:first-child {
    margin-bottom: 0.5em;
}

.counter i {
        display: none;
    }

.btn {
    width: 85px;
    height: 45px;
    border-radius: 40px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    color: white;
    background: rgb(29, 109, 141, 0.5);
    border: 1px solid rgb(29, 109, 141);
    outline: none;
}

.btn:active {
    box-shadow: inset 0 0 0.5em 0.2em rgb(29, 109, 141);
    font-size: 80%;
}



/* DECK SECTION */

.deck {
    width: 500px;
    height: 500px;
    padding: 10px;
    background: linear-gradient(160deg, rgba(2, 201, 185, 0.9), rgba(169, 126, 205, 0.9));
    margin: auto;
    box-sizing: border-box;
    border-radius: 40px;
}

.deck ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    perspective: 1000;
}

.card {
    margin: 10px;
    perspective: 200px;
}

.rotate {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    transition: 0.5s linear;
    transform-style: preserve-3d;
}

.rotate i,
.back {
    height: inherit;
    width: inherit;
    border-radius: inherit;
    box-sizing: border-box;
}

.rotate i {
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    font-size: 4em;
    background: lightblue;
    transition: background linear 0.5s 0.25s;
}

.back {
    background: #2e3d49;
    position: absolute;
    backface-visibility: hidden;
}

.check {
    transform: rotateY(180deg);
}

.false {
    border: 0px solid rgb(222, 172, 159);
    box-shadow: inset 0 0 0 0em rgb(222, 172, 159);
    background: rgb(255, 255, 145) !important;
    animation: false 0.75s ease-in-out;
}

@keyframes false {
    0% {
        transform: rotateZ(0deg) rotateY(180deg);
    }
    10% {
        transform: rotateZ(-45deg) rotateY(180deg);

    }
    30% {
        transform: rotateZ(45deg) rotateY(180deg);
    }

    50% {
        transform: rotateZ(0deg) rotateY(180deg);
        box-shadow: inset 0 0 0.2em 0.1em rgb(222, 172, 159);
        border: 0.05em solid rgb(222, 172, 159);
    }
}

.true {
    border: 0 solid seagreen;
    box-shadow: inset 0 0 0 0 seagreen;
    background: lightgreen !important;
    animation: true 1.5s ease-in-out;
}

@keyframes true {
    0% {
        transform: scale(1, 1) rotateY(180deg);

    }
    10% {
        transform: scale(1, 0.5) rotateY(180deg);
    }
    20% {
        transform: scale(0.5, 1) rotateY(180deg);
    }
    30% {
        transform: scale(1, 0.8) rotateY(180deg);
    }
    40% {
        transform: scale(0.8, 1) rotateY(180deg);
    }
    50% {
        transform: scale(1) rotateY(180deg);
        border: 0.05em solid seagreen;
        box-shadow: inset 0 0 0.2em 0.1em seagreen;
    }
}



/* LEADERBOARD SECTION */

.wrapper {
    display: flex;
    justify-items: center;
    position: relative;
}

.leaderboard {
    position: absolute;
    width: 400px;
    height: 500px;
    left: calc(500px + (((100vw - 500px) / 2) - 400px) / 2);
    font-family: 'Maven Pro', sans-serif;
    background: rgba(173, 216, 230, 0.8);
    box-sizing: border-box;
    border-radius: 40px;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
}

.leaderboard h2 {
    margin: 1em 0;
}


.leaderboard table {
    border-collapse: collapse;
}

.leaderboard tr {
    height: 2em;
    vertical-align: middle;

}

.leaderboard th i,
.leaderboard th span {
    cursor: help;
}

.leaderboard tr td {
    border: 2px solid rgba(195, 225, 235, 0.95);
    background: rgba(173, 216, 230, 0.5);
    box-sizing: border-box;
}

.leaderboard tr th:first-child,
.leaderboard tr th:last-child,
.leaderboard tr td:first-child,
.leaderboard tr td:last-child {
    border-left: none;
    border-right: none;
}

.lb-pos {
    width: 28px;
}

.lb-name {
    width: 145px;
}

.lb-stars {
    width: 22px;
}

.lb-moves {
    width: 43px;
}

.lb-time {
    width: 60px;
}

.lb-score {
    width: 70px;
}



/* FOOTER SECTION */

footer {
    /* background: blanchedalmond; */
    font-family: 'Maven Pro', sans-serif;
    position: absolute;
    bottom: 5px;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    border-radius: 0.5em;
    font-family: 'Maven Pro', sans-serif;
    color: white;
}

.footer-text {
    background: linear-gradient(90deg, transparent, rgb(9, 119, 153), transparent);
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.credit {
    position: absolute;
    left: 1em;
    width: 20em;
}

.credit a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid white;
    margin-left: 0.5em;
}

.credit a:hover {
    color: #e1ae9e;
    border-color: #e1ae9e;
}

.copyright {
    width: 25em;
}


.contacts {
    position: absolute;
    right: 0;
    width: 20em;
}

.contacts a {
    margin-left: 1.5em;
    display: flex;
    align-items: center;
}

.contacts img {
    max-height: 1.5em;
    max-width: 1.5em;
}
